TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
BOT_OWNER_ID=your_telegram_user_id_here
MASTER_KEY=generate_at_least_32_characters_random_string_here

MONGODB_URI=mongodb://127.0.0.1:27017/webook_bot
MONGODB_POOL_SIZE=100
MONGODB_TIMEOUT_MS=10000

WEBBOOK_LOGIN_URL=https://webook.com/login
WEBBOOK_FETCH_PAGE_URL=https://webook.com/en
WEBBOOK_API_BASE=https://api.webook.com
WEBBOOK_API_TIMEOUT_MS=15000
WEBBOOK_INCLUDE_PAST_BOOKINGS=false

PLAYWRIGHT_HEADED=false
PLAYWRIGHT_CHROMIUM_SANDBOX=false
BLOCK_HEAVY_RESOURCES=true

LINK_CONCURRENCY=2
LOGIN_QUEUE_CONCURRENCY=10
LOGIN_QUEUE_BATCH_SIZE=10
LOGIN_QUEUE_POLL_MS=2000
LOGIN_QUEUE_NOTIFY_EVERY=10
LOGIN_RESULT_TIMEOUT_MS=25000

TICKET_FETCH_CONCURRENCY=12
EVENT_CHECK_CONCURRENCY=20
ORDER_DETAIL_CONCURRENCY=8

BULK_INPUT_IDLE_MS=3500
TELEGRAM_HANDLER_TIMEOUT_MS=600000

PROXY_FILE=data/proxies.txt
PROXY_URL=
PROXY_LIST=
PROXY_LIST_URL=
PROXY_COOLDOWN_MS=300000
PROXY_REFRESH_INTERVAL_MS=900000
